* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background: rgb(122, 122, 122);
  transition: 1s;
}


::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.576);
  border-radius: 5rem;
  
}

/* Background */

.bg-body {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -10000;
}

.bg-body.dark {
  background: white;
}

.bg-body.light {
  background: black;
}

.bg.dark {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  z-index: -999;
  filter: blur(50px);
}

.bg.light {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -999;
  filter: blur(40px);
  background-color: black;
}



.bg video{
  filter: hue-rotate(160deg);
  object-fit: cover;
}


.bg-video.dark {
  filter: hue-rotate(350deg) invert(1);
}

@media (max-width: 1000px) {

  .bg.light {
    background: rgba(0, 0, 0, 0);  
    transform: translate(-50rem, -50%) ; 
  }

  .bg.dark {
    width: 120%;
    height: 120vh;
    background-color: rgb(255, 255, 255);  
    transform: translate(-50rem, -50%) rotate(360deg);
  }

}

/* Header */

.header {
  top: 0;
  width: 100%;
  position: fixed;
  padding: 0 7rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  opacity: 1;
  height: 7rem;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.168);
  transition: .3s;
  animation: headerAn1 forwards 1s ease-in-out;
}

.header.scrolled {
  height: 4rem;
  border-bottom: 1px solid var(--shadow);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.321);
  background: var(--secondary-color);
  transition: .3s;
  /* transition: 1s;backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px); */
}

.header.scrolled .logo-light img {
  width: 6rem;
  user-select: none;
  transform: translateX(.7rem);
  transition: .2s;
}

.header.scrolled .logo-dark img {
  width: 6rem;
  transform: translateX(.7rem);
  user-select: none;
  filter: invert(1) contrast(.7);
  transition: .2s;

}



@media (max-width: 1000px) {
  .header {
    padding: 1rem 2rem;
  }

  .header-icons {
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header.scrolled .nav {
    transform: translateY(-3rem);
    transition: .2s;
  }
}


@media (min-width: 1000px) {
  .header.scrolled .theme-dark {
    transform: translateY(.2rem);
  }
  
  .header.scrolled .theme-light {
    transform: translateY(.2rem);
  }
  
  .header.scrolled .theme-light:hover {
    transform: scale(1.1) translateY(.2rem);
  }
  
  .header.scrolled .theme-dark:hover {
    transform: scale(1.1) translateY(.2rem);
  }
}



.logo-light  img:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 0 1px white);
  cursor: pointer;
} 

.logo-dark img:hover {
  transform: scale(1.07);
  cursor: pointer;
}

@media (max-width: 1000px) {

  .logo-light,
  .logo-dark {
    cursor: none;
  }

  .logo-light  img:hover {
    cursor: none;
    transform: none;
  } 
  
  .logo-dark img:hover {
    transform: none;
    cursor: none;
  }
}

.logo-light,
.logo-dark {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-light img {
  width: 8rem;
  user-select: none;
  transition: .2s;
}

.logo-dark img {
  width: 8rem;
  user-select: none;
  filter: invert(1) contrast(.7);
  transition: .2s;

}



/* .menu-dark,
.menu-light {
  transition: .1s ease-out;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--primary-color);
}


.menu-dark:hover {
  cursor: pointer;
  transform: scale(1.1) ;
}

.menu-light:hover {
  filter: drop-shadow(var(--primary-color) 0 0 2px);
  cursor: pointer;
  transform: scale(1.1);
} */

.theme-dark {
  transition: .2s ease-out;
  height: 2rem;
  width: 2rem;
  color: var(--primary-color);
}

.theme-light {
  transition: .2s ease-out;
  height: 2.2rem;
  width: 2.2rem;
  color: var(--primary-color);
}

.theme-light:hover {
  transform: scale(1.1);
  filter: drop-shadow(var(--primary-color) 0 0 2px);
  cursor: pointer;
}

.theme-dark:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* Menú btn */

.menu-btn {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: .2s;
  display: none;
  transform:scale(1.1) rotate(180deg) translateY(-.1rem);
}

@media (max-width: 1000px)  {
  .menu-btn {
    display: block;
    cursor: none;
  }

  .menu-btn:hover  {
    transform: none;
    filter: none;
  }
}

.menu-btn span {
  display: block;
  position: absolute;
  height: 3.5px;
  width: 100%;
  background: var(--primary-color);
  border-radius: 15px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
}

.menu-btn:hover  {
  transform: rotate(180deg) scale(1.2) translateY(-.1rem);
  filter: drop-shadow(0 0 2px white);
}

@media (max-width: 700px) {
  .menu-btn:hover {
    transform: rotate(180deg) scale(1.1) translateY(-.1rem);
    filter: none;
  }
}

.menu-btn span:nth-child(1) {
  top: 0px;
  width: 50%;
}



.menu-btn span:nth-child(2),
.menu-btn span:nth-child(3) {
  top: 10px;
}

.menu-btn span:nth-child(4) {
  top: 20px;
  width: 70%;
}

.menu-btn.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.menu-btn.open span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-btn.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

/* -- End Menu Btn -- */

/* Home */


.home-page-title {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.title {
  position: absolute;
  height: 7rem;
  top: 40%;
  left: 20%;
  transform: translate(-20%, -40%);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  transition: 1s;
  user-select: none;
  z-index: 1;
}

.mensaje-bienvenida {
  font-size: 6rem;
  margin-top: 2rem;
  font-weight: 600;
  transition: .5s;
  animation: title 1s forwards ease;
}




@keyframes title {
  from {
    width: 0rem;
    opacity: 0;
  } to {
    width: 30rem;
    opacity: 1;
  }
}


.barra {
  height: 0.4rem;
  left: 0;
  background: var(--blue);
  animation: barra 1.5s forwards ease;

}

@keyframes barra {
  from {
    width: 0;
  } to {
    width: 12rem;
  }
}

@media (max-width: 1000px) {
  .title {
    width: 10rem;
    height: 7.4rem;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;
    padding: 0;
  animation: titleResponsive 1s forwards ease;

  }
  .mensaje-bienvenida {
    font-size: 2rem;
    transform: translateX(10rem);
    margin-top: 2.8rem;
  }

  .title .barra {
    height: 0.15rem;
    width: 7rem;
  transform: translateY(-2.5rem);

  }

  @keyframes titleResponsive {
    from {
      width: 0rem;
      opacity: 0;
    } to {
      width: 10rem;
      opacity: 1;
    }
  }

  
}

/* Nav */


.nav.dark,
.nav.light {
  background: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-weight: 500;
  color: var(--primary-color);
  transition: .3s;
  z-index: 999;
}












@media (min-width: 1000px) {
  .secciones:hover .hidden-menu  {
    opacity: 1;
    padding: 3rem 0;
    overflow:visible;
    height:14em;
  }

  

  .icon {
    display: none;
  }

  .hidden-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    text-align: center;
    opacity: 0;
    height: 0;
    /* transform: translateX(-50rem); */
    width: 100%;
    overflow: hidden;
    left: 0;
    transition: .2s;
  }
  
  .hidden-menu li{
    background: rgb(26, 26, 26);
    color: white;
    transition: .3s;
    width: 15vw;
    height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    margin-left: .2rem;
    margin-right: .2rem;
  }
  
  
  
  .hidden-menu li img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: .2s;
    opacity: .3;
    filter: blur(5px);
  }
  
  #meditation-gif {
    object-fit: contain;
    height: fit-content;
    width: 100%;
    transform: translateY(-3vw);
  }
  
  .hidden-menu li:hover #meditation-gif {
    transform: translateY(-3vw) scale(1.1);
  }
  
  .hidden-menu li p {
    position: absolute;
    width: 12vw;
    transition: .3s;
    z-index: 10;
  }
  
  .hidden-menu li:hover img {
    opacity: 1;
    filter: none;
    transform: scale(1.2);
  }

 
  
}





@media (max-width: 1000px) {



  .nav-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 7rem;
    right: -110%;
    transition: .5s;
    user-select: none;
  }

  .nav-container.active {
    right: 0;
   
  }

  .nav-container.active .bg-sections {
    width: 100%;
    height: 0;
    position: absolute;
    z-index: -10;
  }

  .nav-container.active .bg-sections.active {
    height: 100vh;
    background: rgba(38, 38, 38, 0.963);
  }

  .icon-p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 5rem;
    cursor: none;
    transform: translateY(.4rem);
  }

  .icon-p p {
    font-size: .6rem;
  }

  .icon-p .icon {
    transform: scale(1.5);
    margin-bottom: .3rem;
  }

  .secciones .arrow-sections {
    position: absolute; 
    margin-left: .2rem;
    transition: .2s;
  }

  .secciones.active .arrow-sections {
    transform: rotateX(180deg);
  }

  .nav.dark {
    color: rgb(40, 40, 40);
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    gap: 1vw;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.281) ;
    background: rgb(34,193,195);
background: linear-gradient(27deg, rgb(134, 225, 227) 0%, rgb(229, 179, 249) 92%);
  }

  .nav.light {
    color: white;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 1rem;
    gap: 1vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.361);
    background: rgb(88,195,196);
  background: linear-gradient(167deg, rgba(88,195,196,1) 0%, rgba(17,44,65,1) 92%);
  }

  .secciones-p {
    width: 4rem;
  }

  .arrow-sections {
    position:relative;
  }

  .secciones .hidden-menu {
    display: none;
  }

  .secciones.active .hidden-menu.active {
    position:absolute;
    left: 0;
    z-index: -1;
    display: flex;
    top: 4.8rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    overflow: auto;
  }


  .secciones.active .hidden-menu.active li{
    overflow: hidden;
    width: 33.3vw;
    height: 15vh;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  .secciones.active .hidden-menu.active li p {
    font-size: 2.4vw;
    line-height: 4vw;
    padding: 1vw 0;
    position: absolute;
    bottom: 0;
    width: 33.3vw;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.71);
  }

  .secciones.active .hidden-menu.active li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  /* .nav.dark .hidden-menu {
    flex-wrap: wrap;
    z-index: -1;
    margin-top: 2rem;
    background: linear-gradient(214deg, rgba(255,255,255,1) 0%, rgba(154,154,154,1) 100%);
  }

  .nav.light .hidden-menu {
    flex-wrap: wrap;
    z-index: -1;
    margin-top: 2rem;
    background: linear-gradient(211deg, rgba(79,79,79,1) 0%, rgba(20,20,20,1) 100%);
  }

  .hidden-menu li{
    background: black;
    color: white;
    margin: 1vw;
    transition: .3s;
    width: 40vw;
    height: 20vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.557);
    overflow: hidden;
  }

  #psicodelicos {
    width: 81vw;
  }

  #psicodelicos p {
    width: 81vw;
  }
  
  .hidden-menu li p {
    width: 40vw;
    line-height: 5vw;
    font-size: 2vw;
    backdrop-filter: blur(10px);
  }

  .hidden-menu {

  }

  .hidden-menu.active {
  opacity: 1;
  padding: 2.5rem 0;
  height:fit-content;
  }

  .hidden-menu li img {
    opacity: 1;
    transform: scale(1.3);
    filter: none;
  }
 
  .secciones span {
    position: absolute;
    margin-left: .5rem;
    transition: .2s;
  }
  
  .secciones.active span {
    transform:rotateX(180deg);
  } */
  

}


/* banner */

.banner-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  align-items: center;
}


.banner-dark {
  width: 25vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  user-select: none;
  align-items: center;
}

.banner-dark img {
  width: 100%;
  object-fit: contain;
    user-select: none;
    transition: .5s;
  mix-blend-mode: difference;
  filter: invert(.5) opacity(1);
}

.banner-light {
  width: 25vw;
  height: 25vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

}

.banner-light img {
  width: 100%;
  object-fit: contain;
  filter: invert(1) opacity(1);
    user-select: none;
  mix-blend-mode: difference;
  transition: 1s;
}


@media (max-width: 1000px) {
  .banner-light {
    width: 20rem;
    height: 25rem;
    overflow: hidden;
  }

  .banner-dark {
    width: 20rem;
    height: 25rem;
    overflow: hidden;
  }
}




.banner-eye-dark.animate__animated {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  /* margin: 0 2rem 3rem 0; */
  backdrop-filter: hue-rotate(170deg) invert(1);
  -webkit-backdrop-filter: hue-rotate(170deg) invert(1);
  position: absolute;
  display: flex;
  transition: 1s;
  justify-content: center;
  align-items: center;
  user-select: none;

}





.banner-eye-light.animate__animated {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  backdrop-filter: hue-rotate(170deg) invert(1);
  -webkit-backdrop-filter: hue-rotate(170deg) invert(1);
  position: absolute;
  display: flex;
  justify-content: center;
  transition: 1s;
  align-items: center;
  user-select: none;

}



@media (max-width: 1000px) {
  .banner-eye-light.animate__animated {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
  }



  .banner-eye-dark.animate__animated {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
  }

}

/* About */

.about-container {
  width: 100%;
  display: flex;
  margin-top: 100vh;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10vw;
  gap: 15vw;
}

.about {
  height: 15vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  padding: 2rem;
  transition: .2s ease-in-out;
}

.about h2 {
  width: 50%;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 1.7vw;
  color: var(--primary-color);

}

.image-about {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} 

.image-about img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {

  .about-container {
    gap: 10rem;
    padding: 2rem 2rem 10rem 2rem;
  }

  .about {
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .about h2 {
    width: 100%;
    font-size: .9rem;
    line-height: 1rem;
  }

  .image-about {
    margin-top: 1rem;
    width: 100%;
  }

  .about.a2 {
    flex-direction: column-reverse;
  }
}




/* TIENDA */

.tienda {
  padding-top: 7rem;
  padding-bottom: 5rem;
  width: 100%;
  height: auto;
  user-select: none;
}

.tienda .titulo-tienda {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3vw;
  transform: translateY(-11rem);
  padding: 2rem;
  transition: .5s;
}

.tienda .titulo-tienda h1 {
  color: var(--secondary-color);
  transition: 1s;
}

@media (max-width: 1000px) {
  .tienda .titulo-tienda {
    font-size: 5vw;
  }
}

.banner-tienda {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  display: flex;
  background: var(--primary-color);
  justify-content: center;
  align-items: center;
  transition: .5s;
}



.container-productos {
  transform: translateY(-5rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content:center;
  align-items: center;
  overflow: hidden;
}

.container-productos .productos {
  width: 10rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
}

.link-productos {
  text-decoration: none;
}


.container-productos .productos h2 {
  color: var(--primary-color);
  font-size: .8rem;
}


.p-img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 8px var(--shadow);
  margin-bottom: .7rem;
  overflow: hidden;
  height: 13rem;
}

.p-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-productos {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 800;

}








/* Psicodelicos */



.seccion-psicodelicos {
  padding-top: 7rem;
  padding-bottom: 5rem;
  width: 100%;
  height: auto;
  user-select: none;
}

.seccion-psicodelicos .titulo {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3vw;
  transform: translateY(-11rem);padding: 2rem;
  color: white;
  transition: .5s;
}

@media (max-width: 1000px) {
  .seccion-psicodelicos .titulo {
    font-size: 5vw;
  }
}

.banner-seccion-psicodelicos {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-seccion-psicodelicos img {
  width: 100%;
  object-fit: contain;
}

/* PsicoCards */

.container-psicodelicos {
  transform: translateY(-5rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem 2rem 2rem 2rem;
  justify-content:center;
  align-items: center;
  overflow: hidden;
}

.container-psicodelicos .psicodelico2 {
  width: 25rem;
  height: 35rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .container-psicodelicos .psicodelico2 {
    border-bottom: 1px solid var(--borde-psicards);
  }
}

.container-psicodelicos .psicodelico2 .psicodelico-img2 {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  user-select: none;
  margin-bottom: 1rem;
}

.container-psicodelicos .psicodelico2 .psicodelico-img2 p {
  position: absolute;
  color: black;
  background: yellow;
}

.container-psicodelicos .psicodelico2 .psicodelico-img2 img {
  width: 120%;
  height: auto;
  object-fit: cover;
  user-select: none;
  transition: 1s;
}

.links-router {
  text-decoration: none;
  justify-content: space-between;
  height: 100%;
  color: var(--primary-color);
}

.links-router:hover img {
  transform: scale(1.2);
}




.links-router h2 {
  background: var(--primary-color);
  color: var(--secondary-color);
  height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  padding-left: 1rem;
  transition: 1s;
  align-items: center;
}

.links-router:hover h2 {
  background: var(--secondary-color);
  color: var(--primary-color);
}


.btn-psicodelicos {
  width: 60%;
  height: 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: a;
  justify-content: center;
  color: var(--primary-color);
  margin-top: 1rem;
  font-weight: 600;
  transition: .3s;
}

.links-router:hover .btn-psicodelicos {
  background: var(--primary-color);
  color: var(--secondary-color);
}


/* LSD */

.psychedelics-sections {
  padding-top: 7rem;
  width: 100%;
  height: auto;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-sustancias {
  width: 100%;
  padding: 0 5rem;
}

.info-sustancias h1 {
  background: rgb(190,99,208);
  background: linear-gradient(353deg, rgba(190,99,208,1) 0%, rgba(127,167,213,1) 100%);
  width: 15rem;
  padding: 2rem;
  color: white;
  font-size: 4rem;
  margin: 2rem 0 2rem 0;
}

.info-sustancias img {
  width: 100%;
}



.info-sustancias h2 {
  margin: 2rem 0 2rem 0;
  font-size: 1.5rem;
  color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: var(--primary-color);
  transition: .2s;
}



.info-sustancias h2 p {
  font-size: 2rem;
  color: var(--secondary-color);

}


.info-sustancias p {
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--primary-color);

}

.info-sustancias ul {
  padding: 2rem;
  list-style-type: disc;
  font-weight: 500;
  color: var(--primary-color);

}



.info-sustancias ul img {
  width: 100%;
  padding: 2rem 1rem 2rem 1rem;
}

.info-sustancias ol {
  padding: 2rem;
  font-weight: 700;
  
}

.info-sustancias ol ul {
  padding: 1rem;
  font-weight: 500;
  list-style-type:disc;
}

.historia {
  display: none;
}

.dosificacion {
  display: none;
}

.presentacion {
  display: none;
}

.efectos {
  display: none;
}

/* dosis */

.dosis-grafica {
  margin: 2rem 0 2rem 0;
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  background: rgb(190,99,208);
  background: linear-gradient(266deg, rgba(190,99,208,1) 0%, rgba(127,167,213,1) 100%);
  display: flex;
  justify-content: space-around;
}

.dosis-grafica:hover {
  animation: psyCard 5s ease-in-out infinite;

}

.baja,
.media,
.alta {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* drug img */

.drug-img-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drug-img {
  width: 100%;
  animation: psyCard 10s ease-in-out infinite;
}

.icons-drugs-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


/* trips section */

.trips-windows {
  width: 80%;
  height: 90vh;
  overflow: hidden;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.trips-stories {
  width: 40vw;
  height: 80vh;
  position: fixed;
  border: 1px solid var(--borde-psicards);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 2rem 0 2rem;
  display: flex;
  transform: translateY(-2rem);
  flex-direction: column;
  align-items: center;
}

.trips-destacados {
  background: rgb(190,99,208);
  background: linear-gradient(353deg, rgba(190,99,208,1) 0%, rgba(127,167,213,1) 100%);
  width: 200%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: white;
}


/* users */

.user-trip {
  width: 100%;
  height: auto;
}

.user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50px;
  border: 1px solid var(--borde-psicards);
}



.user-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  
}

.user-container p {
  font-weight: 600;
  color: var(--primary-color);

}

.user-container p span {
  font-weight: 400;
}

.user-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image img {
  height: 100%;
  object-fit: cover;
}

/* trip */

.story {
  padding: 2rem;
  color: var(--primary-color);
}

.story h3 {
  margin-bottom: .5rem;
}

.btn-mostrar-story {
  margin: 1rem 0;
  background: none;
  border: none;
  padding: .2rem 0;
  font-weight: 600;
  cursor: pointer;
  color: rgb(178, 131, 222);
}

.btn-mostrar-story:hover {
  opacity: .8;
}

.grafico-user-trip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.barra-nav-graf {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}

.btn-graf-user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
}

.btn-graf-user.active {
  background: rgb(190,99,208);
  background: linear-gradient(353deg, rgba(190,99,208,1) 0%, rgba(127,167,213,1) 100%);
  color: white;
  cursor: pointer;
  
}

.uso-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.uso-container p {
  font-weight: 500;
}

.uso-distintivo {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--moradoBtn);
}

/* Gráficos efectos */

.aside-data {
  width: 100%;
}

.data {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.data-consumo {
  width: 100%;
  height: auto;
}

.data h2 {
  background: none;
  color: white;
  font-size: 1.3rem;
}

/* recomendaciones */


.grafico h2 {
  padding: 2rem 9rem;
  margin-bottom: 1rem;
  font-size: 2em;
}

.consumoGeneral {
  width: 60%;
  padding-left: 9rem;
  padding-bottom: 15rem;
}

.uso-distintivo {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #7fa7d5;
}


@media (max-width: 1000px) {



  .psychedelics-sections {
    padding-top: 4.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--bgColor);
  }

  .info-sustancias {
    padding: 1rem;
  }

  .aside-data {
    width: 100%;
  }
  
  .data {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .grafic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .data h2 {
    background: none;
    color: white;
    font-size: 1.3rem;
  }

  .mixed-chart {
    display: flex;
    justify-items: center;
    align-items: center;
  }
 
  /* Gráfico consumo */

  .graficoConsumo {
    width: 100%;
  }

  .trips-windows {
    width: 100%;
    height: auto;
    margin-right: 2rem;
    display: flex;
    padding-top: 1rem;
  }
  
  .trips-stories {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.211);
    padding: 0 ;
    display: flex;
    transform: translateY(0);
    flex-direction: column;
    align-items: center;
  }

  .user-trip {
    width: 94%;
    height: auto;
  }

  .btn-mostrar-story {
    cursor: none;
  }

  .btn-graf-user.active {
    cursor: none;
  }

  .btn-graf-user {
    cursor: none;
  }

  .grafico h2 {
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .consumoGeneral {
    width: 100%;
    padding: 2rem;
    margin-bottom: 4rem;
  }

  .grafico-consumo {
    width: 100%;
  }
}

