:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  margin: none;
  padding: none;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: white;
  --secondary-color: #232323;
  --blue: #00E5FF;




}

.light {
  --primary-color: white;
  --secondary-color: #101010;

  --borde-psicards: rgba(255, 255, 255, 0.589);

  --shadow: rgba(255, 255, 255, 0.168);

}

.dark {

  --shadow: rgba(0, 0, 0, 0.168);

  --primary-color: #1d1d1d;
  --secondary-color: white;

  --borde-psicards: rgba(3, 3, 3, 0.683);


}

.header a{
  text-decoration: none;
  color: inherit;
}